#扩展名
#----------------------------------------------------------------
*.iml
*.log
*.lock.db
*.trace.db
.flattened-pom.xml
#目录
#----------------------------------------------------------------
.idea/
target/
dbg/